.clock{
position:absolute;
top:0;
left:-15%;
z-index: 111;

}

.Fclickbefore{
    position:absolute;
    top:22%;
    left:28%;
    
}
.Fclickafter{
    position:absolute;
    top:22%;
    left:80%;
    
}
.before{
    position:absolute;
    top:2.5%;
    left:0;
    
}
.after{
    position:absolute;
    top:2.5%;
    left:47%;
    
}
.beforetext{
    position:absolute;
    top:2%;
    left:25%;
    
}
.aftertext{
    position:absolute;
    top:10%;
    left:57%;
}
.distribution{
    position:absolute;
    bottom:1%;
    left:0%;
}
.distribution{
    position:absolute;
    bottom:1%;
    left:0%;
}
.Fgenderbuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:4%;
}
.Fagebuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:28%;
}
.Flocationbuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:52%;
}
.Fhealthbuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:76%;
}


.Flefttopdiagram{
    position:absolute;
    top:2%;
    left:-60%;
}
.Fleftbottomdiagram{
    position:absolute;
    bottom:2.5%;
    left:-60%;
}
.Frighttopdiagram{
    position:absolute;
    top:2%;
    right:-50%;
}
.Frightbottomdiagram{
    position:absolute;
    bottom:3.5%;
    right:-50%;
}