.clock{
position:absolute;
top:0;
left:-15%;
z-index: 111;

}

.Cclickbefore{
    position:absolute;
    top:22%;
    left:28%;
    
}
.Cclickafter{
    position:absolute;
    top:22%;
    left:80%;
    
}
.before{
    position:absolute;
    top:2.5%;
    left:0;
    
}
.after{
    position:absolute;
    top:2.5%;
    left:47%;
    
}
.Cbeforeusingtext{
    position:absolute;
    top:20%;
    left:-20%;
    
}
.Cafterusingtext{
    position:absolute;
    top:2%;
    left:85%;
}
.distribution{
    position:absolute;
    bottom:1%;
    left:0%;
}
.distribution{
    position:absolute;
    bottom:1%;
    left:0%;
}
.Cgenderbuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:4%;
}
.Cagebuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:28%;
}
.Clocationbuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:52%;
}
.Chealthbuttonbefore{
    position:absolute;
    bottom:3.5%;
    left:76%;
}


.Clefttopdiagram{
    position:absolute;
    top:2%;
    left:-60%;
}
.Cleftbottomdiagram{
    position:absolute;
    bottom:2.5%;
    left:-60%;
}
.Crighttopdiagram{
    position:absolute;
    top:2%;
    right:-50%;
}
.Chealthdiagram{
    position:absolute;
    bottom:2%;
    right:-52%;
}