.example::-webkit-scrollbar {
  display: none;
}

/* scrollbar for Chrome*/
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #FFF1EC;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0  6px rgba(0,0,0,0);
  background-color: #FFF1EC;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0  6px rgba(0,0,0,0);
  background-color: #7d68fa;
}



.App {
  background-color:white;
  text-align: center;
  width:100%;
  height:800%;
  min-width: 1040px;
  min-width: 716px;


}

.Section{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;/*可以让网页容器滚动停止的时候，自动平滑定位到指定元素的指定位置*/
  -webkit-overflow-scrolling: touch;/* 当手指从触摸屏上移开，会保持一段时间的滚动 */
  background-color:#FFF1EC;
  width:100%;
  height: 100vh;
  position:relative;
}
.Section__item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 533.63px;
  height: 100%;
  /* outline: solid 1px black; */
  scroll-snap-align: start;
  background-color: #000000;
  font-size: 1.5rem;
  top:0%;

}
.cover{
  position: relative;
}
.aboutme{
  position:relative;
}
.bg-1{
  position:absolute;
}
.health4{
  position:absolute;
  left: 10%;
  top: 1%;
  display: flex;
  transition: all .3s ease;
  z-index: 1;
  
}
.age4{
  position:absolute;
  top:2%;
  right:13%;
  display: flex;
  transition: all .3s ease;
  z-index: 1;
}
.gender4{
  position:absolute;
  right: 7%;
  top: 33%;
  display: flex;
  transition: all .3s ease;
  z-index: 1;
}

.location4{
  position:absolute;
  right: 7%;
  bottom: 2%;
  display: flex;
  transition: all .3s ease;
  z-index: 1;

}
.Health1{
  cursor: pointer;
  z-index: 101;
}
.Age1{
  cursor: pointer;
  z-index: 101;

}
.Gender1{
  cursor: pointer;
  z-index: 101;

}
.Location1{
  cursor: pointer;
  z-index: 101;

}

.bg-2{
  position: relative;
  top:0;
  background-color:#FFF1EC;


}
.bg-3{
  position: relative;
  top:0;
  background-color:#FFF1EC;

}
.bg-4{
  position: relative;
  top:0;

}
.bg-5{
  position: relative;
  top:0;

}

